# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Django stuff:
*.log
*.pot
*.pyc
*.pyo
*.sqlite3
db.sqlite3

# Media and static files
/media/
/staticfiles/

# Local environment settings
.env

# Virtual environment
venv/
env/
ENV/
.venv/
.ENV/

# IDEs and editors
.vscode/
.idea/
*.swp
*.swo

# Migrations (optional, for development only)
**/migrations/*.py
!**/migrations/__init__.py

